<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCH6A4MTrjowFKzHi_cwJs2TvXLvWRiEMs</string>
	<key>GCM_SENDER_ID</key>
	<string>648013932399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skoolplannr</string>
	<key>PROJECT_ID</key>
	<string>skoolplannr</string>
	<key>STORAGE_BUCKET</key>
	<string>skoolplannr.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648013932399:ios:64e3cbfc8ffcdee44a2a9a</string>
</dict>
</plist>